// "Lato", sans-serif;
// "Montserrat", sans-serif;
// "Playfair Display", serif;
// "PT Serif", serif;

.home-wrapper {
  width: calc(100vw - 15vw);

  .home-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    .g1 {
      display: grid;
      row-gap: 20px;
    }
    .g2 {
      display: grid;
      row-gap: 30px;
    }

    .home-image {
      img {
        cursor: pointer;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        width: 100%;
        object-fit: cover;
        transition: 0.5s;
        &:hover {
          filter: brightness(45%);
          transform: scale(0.94);
        }
      }
    }
  }
}
