// "Lato", sans-serif;
// "Montserrat", sans-serif;
// "Playfair Display", serif;
// "PT Serif", serif;

.home-wrapper {
  width: calc(100vw - 13rem);

  .home-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    .g1 {
      display: grid;
      row-gap: 20px;
    }
    .g2 {
      display: grid;
      row-gap: 10px;
    }

    .home-image {
      img {
        cursor: pointer;
        width: 100%;
        object-fit: contain;
        transition: 0.3s;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        &:hover {
          filter: brightness(45%);
          transform: scale(0.96);
        }
      }
    }
  }
}
