// "Lato", sans-serif;
// "Montserrat", sans-serif;
// "Playfair Display", serif;
// "PT Serif", serif;

.albums-wrapper {
  margin: 3rem 0 0 3rem;
  top: 5%;
  left: 3%;
  position: relative;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;

  .album-image {
    height: 100%;
    img {
      width: 160px;
      height: 100%;
    }
  }

  .album-wrapper {
    position: relative;
    top: 25%;
    left: 1%;
    cursor: pointer;
    width: 500px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .album-text-box {
      position: relative;
      margin-left: 1rem;
      display: flex;
      gap: 0.75rem;
      flex-direction: column;

      h1 {
        font-size: 1.5rem;
        font-family: "Lato", sans-serif;
      }
      span {
        font-size: 1.2rem;
        font-family: "Lato", sans-serif;
      }
      p {
        font-size: 1.2rem;
        font-family: "Lato", sans-serif;
        font-weight: 500;
      }
    }
    &:hover {
      filter: brightness(70%);
      background-color: rgb(200, 200, 200);
    }
  }
}

@media (max-width: 1500px) {
  .albums-wrapper {
    margin: 3rem 0 0 3rem;
    top: 5%;
    left: 3%;
    position: relative;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr;
    .album-wrapper {
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media (max-width: 700px) {
  .albums-wrapper {
    position: absolute;
    left: 40%;
    transform: translate(-50%);
    margin-top: 10rem;

    .album-wrapper {
      width: 350px;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
