// "Lato", sans-serif;
// "Montserrat", sans-serif;
// "Playfair Display", serif;
// "PT Serif", serif;

.web-header {
  z-index: 3;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;

  .header-wrapper {
    top: 10%;
    height: 100vh;
    position: fixed;
    margin-top: 2rem;

    .logo {
      font-size: 3.5rem;
      font-family: 600;
      font-family: "Playfair Display", serif;
    }

    .web-navs {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .web-nav {
        font-size: 1.1rem;
        font-family: "PT Serif", serif;
        transition: 0.4s;
        text-align: left;

        &:hover {
          color: red;
          letter-spacing: 0.15rem;
        }
      }
    }

    .header-bottom {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      width: 100%;
      font-family: "Playfair Display", serif;
      margin-top: 5rem;

      .barcode {
        width: 120px;
        transform: rotate(-90deg);
      }

      p {
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 700px) {
  .web-header {
    z-index: 999;
    background-color: #f8f8ff;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 180px;

    .header-wrapper {
      top: 0%;
      height: 10px;
      position: fixed;
      margin-top: 2rem;

      .logo {
        text-align: center;
      }
      .web-navs {
        flex-direction: row;
        .web-nav {
          &:hover {
            color: red;
            letter-spacing: normal;
          }
        }
      }
      .header-bottom {
        display: none;
      }
    }
  }
}

@media (min-width: 701px) {
  .web-header {
    height: 100vh;
  }
}
