// "Lato", sans-serif;
// "Montserrat", sans-serif;
// "Playfair Display", serif;
// "PT Serif", serif;

.web-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  height: 100vh;

  .header-wrapper {
    top: 5%;
    height: 100vh;
    position: fixed;
    margin-top: 2rem;

    .logo {
      font-size: 3.5rem;
      font-family: 600;
      font-family: "Playfair Display", serif;
    }

    .web-navs {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .web-nav {
        font-size: 1.1rem;
        font-family: "PT Serif", serif;
        transition: 0.4s;
        text-align: left;

        &:hover {
          color: red;
          letter-spacing: 0.15rem;
        }
      }
    }

    .header-bottom {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      width: 100%;
      font-family: "Playfair Display", serif;
      margin-top: 5rem;

      .barcode {
        width: 120px;
        transform: rotate(-90deg);
      }

      p {
        font-size: 1.3rem;
      }
    }
  }
}
