// "Lato", sans-serif;
// "Montserrat", sans-serif;
// "Playfair Display", serif;
// "PT Serif", serif;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.about-wrapper {
  position: relative;
  width: calc(100vw - 16rem);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .about-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .about-name {
      a {
        font-size: 2.2rem;
        font-family: "Playfair Display", serif;
        transition: 0.2s letter-spacing;
        &:hover {
          letter-spacing: 0.02rem;
        }
      }
    }
    .about-desc {
      font-family: "Poppins", sans-serif;
      p {
        font-size: 1rem;

        margin-bottom: 0.7rem;
      }
    }
  }

  .about-profile {
    border-radius: 35%;
    width: 30vw;
    object-fit: contain;
  }
}

@media (max-width: 1000px) {
  .about-wrapper {
    margin-top: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    height: 80vh;

    .about-box {
      align-items: center;
      .about-name {
        a {
          text-align: center;
          font-size: 1.3rem;
          font-family: "Playfair Display", serif;
          letter-spacing: normal;
        }
      }
      .about-desc {
        margin-top: 0rem;
        text-align: center;
        width: 100%;
        font-family: "Poppins", sans-serif;
        p {
          font-size: 0.8rem;

          margin-bottom: 0.2rem;
        }
      }
    }
  }
}
