@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Montserrat:wght@100;300&family=PT+Serif&family=Playfair+Display:ital,wght@1,500&display=swap");

// "Lato", sans-serif;
// "Montserrat", sans-serif;
// "Playfair Display", serif;
// "PT Serif", serif;

* {
  scroll-behavior: smooth;
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
}

a {
  color: black;
}

body {
  background-color: #f8f8ff;
  &::-webkit-scrollbar {
    display: none;
  }
}

.miiu-wrapper {
  width: 100vw;
  display: flex;
}

.page-slider-enter {
  opacity: 0.01;
}

.page-slider-enter.page-slider-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.page-slider-exit {
  opacity: 1;
}

.page-slider-exit.page-slider-exit-active {
  opacity: 0.01;
}

.transition-group {
  position: relative;
  background-color: #000;
}
