@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Montserrat:wght@100;300&family=PT+Serif&family=Playfair+Display:ital,wght@1,500&display=swap");

// "Lato", sans-serif;
// "Montserrat", sans-serif;
// "Playfair Display", serif;
// "PT Serif", serif;

* {
  scroll-behavior: smooth;
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
}

a {
  color: black;
}

body {
  width: 100vw;
  background-color: #f8f8ff;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 701px) {
  body {
    display: flex;
  }
}
